footer {
  padding-top: 60px;
  // padding-bottom: 60px;
  background-color: $color-background;

  .first {

    @media(max-width: 767px){
        margin-bottom: 60px;
    }
    .logo-footer {
      margin-bottom: 30px;
      width: 160px;
      height: 28px;
    }
    p {
      width: 67%;
      margin-bottom: 60px;
      font-size: 20px;
      color: $min-color;
      @media(max-width: 767px){
          font-size: 15px;
      }
    }

    ul {
      li {
        display: inline-block;
        a{
          img{
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  .sacend {
    @media(max-width: 767px){
        margin-bottom: 60px;
    }
    h3 {
      margin-bottom: 30px;
      color: $color1;
      font-family: $f-bold;
      font-size: 25px;
      text-transform: uppercase;
      @media(max-width: 767px){
          margin-bottom: 30px;
      }
    }

    ul {
      margin-left: 8%;

      li {
        margin-bottom: 15px;

        &:before {
          content: "\2022";
          color: #FFF488;
          font-weight: bold;
          display: inline-block;
          width: 1em;
          margin-left: -1em;
        }

        a {
          color: $min-color !important;
        }
      }
    }
  }

  .finel {
    @media(max-width: 767px){
        margin-bottom: 60px;
    }
    h3 {
      margin-bottom: 30px;
      color: $color1;
      font-family: $f-bold;
      font-size: 25px;
      text-transform: uppercase;
      @media(max-width: 767px){
          margin-bottom: 30px;
      }
    }

    ul {
      li {
        display: inline-block;

        a {
          img {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
  }

  .end-footer {
    background-color: #202646;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    margin-bottom: 0;
    // margin-top: 30px;
    font-size: 15px;
  }
}

.footer-pages {
  background-color: rgba(250, 250, 250, 1);
  margin-top: 30px;
  .first {
    p {
      width: 67%;
      margin-bottom: 60px;
      font-size: 20px;
      color: $color-background;
    }


  }

  .sacend {
    h3 {
      color: $color-background;
      @media(max-width: 767px){
          margin-bottom: 30px;
      }
    }

    ul {
      li {
        &:before {
          color: $color-background;
        }

        a {
          color: $color-background !important;
        }
      }
    }
  }

  .finel {
    h3 {
      color: $color-background;
      @media(max-width: 767px){
          margin-bottom: 30px;
      }
    }
  }

  .end-footer {
    background: #F0F0F0;
    color: #39437C;
  }
}
